:root {
  --color-gray: hsl(0deg 0% 52%);
  --color-light-gray: hsl(0deg 0% 98%);
  --color-white: hsl(0deg 0% 100%);
  --color-dark-blue: hsl(200deg 15% 8%);
  --box-shadow: 0 0 10px -3px var(--color-gray);
}
